<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Kantar_StringVarmi" value="EVET"/>
    <add key="Kantar_String" value="AX"/>
    <add key="Kantar_Port" value="COM1"/>
    <add key="Kantar_Directory" value="C:\\KORWOS"/>
    <add key="Kantar_File" value="Kantar_File"/>
    <add key="OtomatikInterVal" value="500"/>


  </appSettings>  
</configuration>